<form #searchForm="ngForm" (ngSubmit)="getSearchResults(searchForm)">
  <label for="">Search YouTube:</label>
  <input type="text" ngModel name="search" />
  <button (click)="videoOne(event)">Search</button>
</form>

<div>
  <button (click)="videoOne(event)">Watch video 1</button>
  <button (click)="videoTwo(event)">Watch video 2</button>
  <button (click)="videoThree(event)">Watch video 3</button>
  <button (click)="videoFour(event)">Watch video 4</button>
  <button (click)="videoFive(event)">Watch video 5</button>
</div>

<div *ngIf="showOne">
  <iframe [src]="getVideoOne()" frameborder="0"></iframe>
  <h3>Title: {{ searchResults.items[0].snippet.title }}</h3>
  <p>Description: {{ searchResults.items[0].snippet.description }}</p>
  <p>Views: {{ videoData.items[0].statistics.viewCount }}</p>
  <p>Likes: {{ videoData.items[0].statistics.likeCount }}</p>
  <p>Dislikes: {{ videoData.items[0].statistics.dislikeCount }}</p>
</div>

<div *ngIf="showTwo">
  <iframe [src]="getVideoTwo()" frameborder="0"></iframe>
  <h3>Title: {{ searchResults.items[1].snippet.title }}</h3>
  <p>Description: {{ searchResults.items[1].snippet.description }}</p>
  <p>Views: {{ videoData.items[0].statistics.viewCount }}</p>
  <p>Likes: {{ videoData.items[0].statistics.likeCount }}</p>
  <p>Dislikes: {{ videoData.items[0].statistics.dislikeCount }}</p>
</div>

<div *ngIf="showThree">
  <iframe [src]="getVideoThree()" frameborder="0"></iframe>
  <h3>Title: {{ searchResults.items[2].snippet.title }}</h3>
  <p>Description: {{ searchResults.items[2].snippet.description }}</p>
  <p>Views: {{ videoData.items[0].statistics.viewCount }}</p>
  <p>Likes: {{ videoData.items[0].statistics.likeCount }}</p>
  <p>Dislikes: {{ videoData.items[0].statistics.dislikeCount }}</p>
</div>

<div *ngIf="showFour">
  <iframe [src]="getVideoFour()" frameborder="0"></iframe>
  <h3>Title: {{ searchResults.items[3].snippet.title }}</h3>
  <p>Description: {{ searchResults.items[3].snippet.description }}</p>
  <p>Views: {{ videoData.items[0].statistics.viewCount }}</p>
  <p>Likes: {{ videoData.items[0].statistics.likeCount }}</p>
  <p>Dislikes: {{ videoData.items[0].statistics.dislikeCount }}</p>
</div>

<div *ngIf="showFive">
  <iframe [src]="getVideoFive()" frameborder="0"></iframe>
  <h3>Title: {{ searchResults.items[4].snippet.title }}</h3>
  <p>Description: {{ searchResults.items[4].snippet.description }}</p>
  <p>Views: {{ videoData.items[0].statistics.viewCount }}</p>
  <p>Likes: {{ videoData.items[0].statistics.likeCount }}</p>
  <p>Dislikes: {{ videoData.items[0].statistics.dislikeCount }}</p>
</div>