<form #searchForm="ngForm" (ngSubmit)="getSearchResults(searchForm)">
  <label for="">Search YouTube:</label>
  <input type="text" ngModel name="search"/>
  <button>Search</button>
</form>

<div>
    <button>Watch video 1</button>
    <button>Watch video 2</button>
    <button>Watch video 3</button>
    <button>Watch video 4</button>
    <button>Watch video 5</button>
</div>
  
  <div *ngFor="let video of videoids; index as i">
    <p>{{ video }}</p>
  </div>

<div>
  <iframe [src]="url"></iframe>
  <h3>{{ searchResults.items[0].snippet.title }}</h3>
  <p>{{ searchResults.items[0].snippet.description }}</p>
  <p>Views: {{ videoData.items[0].statistics.viewCount }}</p>
  <p>Likes: {{ videoData.items[0].statistics.likeCount }}</p>
  <p>Dislikes: {{ videoData.items[0].statistics.dislikeCount }}</p>
  
</div>
